@import '../variables'
@import '../mixins'
.container
    @include horizontalAlignFleX
    justify-content: center
    padding: 10px
    background: $Yelow
    font-family: $Font-default
    width: 300px
    height: 300px
    margin-left: 0
    .container_itens
        background: #4c230b
        width: 270px
        height: 270px
        border-radius:4px
        //border: 2px solid red
